<mat-card [appHighlightPublicationDate]="searchItem.snippet.publishedAt">
  <img src="{{searchItem.snippet.thumbnails.default.url}}" alt="Video thumbnail">
  <mat-card-content>
    <div class="statistics-container">
      <span class="statistics-wrapper">
        <mat-icon>visibility</mat-icon>
        <span>{{searchItem.statistics.viewCount}}</span>
      </span>
      <span class="statistics-wrapper">
        <mat-icon>thumb_up</mat-icon>
        <span>{{searchItem.statistics.likeCount}}</span>
      </span>
      <span class="statistics-wrapper">
        <mat-icon>thumb_down</mat-icon>
        <span>{{searchItem.statistics.dislikeCount}}</span>
      </span>
      <span class="statistics-wrapper">
        <mat-icon>comment</mat-icon>
        <span>{{searchItem.statistics.commentCount}}</span>
      </span>
    </div>
    <mat-card-title>{{searchItem.snippet.title}}</mat-card-title>
    <div class="button-more-info-container">
      <button mat-flat-button>more...</button>
    </div>
  </mat-card-content>
</mat-card>
