.container {
  max-width: 1300px;
  margin: 0 auto;

  app-search-results {
    display: block;
    margin-top: 30px;
  }

  .mat-flat-button{
    background-color: #2F80ED;
    color:white;
    margin:20px 0;
  }

}
