.mat-card {
  width: 500px;
  margin: 40px auto;
  background-color: #E5E5E5;

  mat-form-field{
    width:400px;
  }

  .mat-card-title{
    margin-left:-16px;
  }


  .mat-flat-button {
    background-color: #2F80ED;
    color: white;
  }

  .mat-card-actions{
    margin:0;
    text-align: right;
  }
}
